<H1>My Jupyter Notebook on IBM Watson Studio<H1>

<b>Dexter Lee </b><br>Data Scientist

<i>I am interested in data science because data i want to become a datascietist under the Plant Industry

<h3>The Following Code will Display the Message "Hellow world"</h3>

In [13]:
print("Hello World")

Hello World

# <html>
<header>
</header>

<body>
    <section>
        <h1> My favourite Fruits</h1>
        <ol>
            <li>Apple</li>
            <li>Banana</li>
            <li>Orange</li>
            <li>Mango</li>
            <li>Grapes</li>
        </ol>
        <hr>
        <table border="1px">
            <tr>
                <td><b>Needs</b></td>
                <td><b>Wants</b></td>
            </tr>
            <tr>
                <td>Water</td>
                <td>Car</td>
            </tr>
            <tr>
                <td>Food</td>
                <td>Phone</td>
            </tr>
            <tr>
                <td>Education</td>
                <td>Computer</td>
            </tr>
            <tr>
                <td>Medicine</td>
                <td>Television</td>
            </tr>
        </table>
        <br>
        <hr>
    </section>
    <footer>
    </footer>
</body>
</html>